* {
    padding: 0px;
    margin: 0px;
    font-family: 'inter', sans-serif;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");


.nav {
    height: 80px;
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
  }
  
  .nav img {
      float: left;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #000000;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 15px;
  }
  
  button#copy {
    font-size: 15px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #000000;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 10px;
    }
  
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
   
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 5px;
      border-top: 2px solid #000000;
    }
    .nav > .nav-links {
      position: absolute;
      font-size: 4rem;
      display: block;
      width: 100%;
      background-color: #ffffff;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 5%;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
      margin-top: 40px;
    }
    button#copy {
      color: rgb(0, 0, 0) !important;
      font-size: 4rem;
     float: left;
     padding-top: 0px;
    }
  
  }